<mat-card *ngIf="path">
  <div class="path">
    <ul>
      <li class="product" *ngFor="let product of path; let i = index">{{product.name}}<span *ngIf="i > 0">&times; 2</span></li>
      <li class="total">= {{pathTotalValue}}, {{pathTotalTime}} hours</li>
    </ul>
  </div>
  <div class="path reverse" *ngIf="path.length > 1">
    <ul class="product-path">
      <li class="product" *ngFor="let product of reversePath; let i = index">{{product.name}}<span *ngIf="i > 0">&times; 2</span></li>
      <li class="total">= {{reversePathTotalValue}}, {{pathTotalTime}} hours</li>
    </ul>
  </div>
</mat-card>
<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [attr.aria-label]="'Toggle ' + row.product.name" (click)="row.toggleExpanded()">
          <mat-icon class="mat-icon-rtl-mirror">
            {{row.expanded ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <app-product [product]="row.product" [showIcons]="true" [showCategories]="true"></app-product>
      </td>
    </ng-container>

    <!-- Value Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
      <td mat-cell *matCellDef="let row">{{row.product.value}}</td>
    </ng-container>

    <!--Value / Time Column -->
    <ng-container matColumnDef="valueTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Value/Time</th>
      <td mat-cell *matCellDef="let row">{{(row.product.valueOverTime).toFixed(2)}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{row.product.time}} Hours</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <ng-container *matRowDef="let row; columns: displayedColumns;">
      <tr mat-row></tr>
      <!-- For now, just recurse into ourselves if expanded -->
      <tr *ngIf="row.expanded" ngClass="children"><td [colSpan]="displayedColumns.length"><app-product-tree [products]="row.children" [path]="_createPath(row)"></app-product-tree></td></tr>
    </ng-container>
  </table>
</div>
