<table mat-table class="full-width-table" matSort aria-label="Supply and demand">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let row"><app-product [product]="row"></app-product></td>
  </ng-container>

  <!-- Popularity Column -->
  <ng-container matColumnDef="popularity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Popularity</th>
    <td mat-cell *matCellDef="let row" ngClass="popularity" #cell><app-product-table-select label="Popularity" ngClass="popularity" [options]="popularityLevels" iconPrefix="island:popularity-" [(value)]="row.popularity" (valueChange)="storeState()" (moveToNext)="_selectNext(cell, 'popularity')"></app-product-table-select></td>
  </ng-container>

  <!-- Supply Column -->
  <ng-container matColumnDef="supply">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Supply</th>
    <td mat-cell *matCellDef="let row" ngClass="supply" #cell><app-product-table-select label="Supply" ngClass="supply" [options]="supplyLevels" iconPrefix="island:supply-" [(value)]="row.supply" (valueChange)="storeState()" (moveToNext)="_selectNext(cell, 'supply')"></app-product-table-select></td>
  </ng-container>

  <!-- Demand Shift Column -->
  <ng-container matColumnDef="demandShift">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Demand Shift</th>
    <td mat-cell *matCellDef="let row" ngClass="demandShift" #cell><app-product-table-select label="Demand Shift" ngClass="demandShift" [options]="demandShiftLevels" iconPrefix="island:demandShift-" [(value)]="row.demandShift" (valueChange)="storeState()" (moveToNext)="_selectNext(cell, 'demandShift')"></app-product-table-select></td>
  </ng-container>

  <!-- Modified Value Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
    <td mat-cell *matCellDef="let row">{{row.value}}</td>
  </ng-container>

  <!-- Base Value / Time Column -->
  <ng-container matColumnDef="valueTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Value/Time</th>
    <td mat-cell *matCellDef="let row">{{(row.valueOverTime).toFixed(2)}}</td>
  </ng-container>

  <!-- Base Value Column -->
  <ng-container matColumnDef="baseValue">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Base Value</th>
    <td mat-cell *matCellDef="let row">{{row.baseValue}}</td>
  </ng-container>

  <!-- Time Column -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
    <td mat-cell *matCellDef="let row">{{row.time}} Hours</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
