<div class="product-name">{{product.name}} <span class="value">({{product.value}}, {{product.valueOverTime.toFixed(2)}}/hour)</span></div>
<div class="product-categories">
    <div class="label">Categories:</div>
    <ul class="categories">
        <li *ngFor="let category of product.categories">{{category.name}}</li>
    </ul>
</div>
<div class="chains-with">
    <div class="label">Chains with:</div>
    <ul>
        <li *ngFor="let chained of chainedProducts" [ngClass]="createCSSClass(chained)">{{chained.name}}
            <app-icon [popularity]="chained.popularity"></app-icon>
            <app-icon [supply]="chained.supply"></app-icon>
            ({{chained.getModifiedValue()}}, {{(chained.getModifiedValue()/chained.time).toFixed(2)}}/h)
        </li>
    </ul>
</div>
