<div class="product-name">{{product.name}}</div>
<!--
<div class="product-categories">
    <div class="label">Categories:</div>
    <div class="categories">
        <span *ngFor="let category of product.categories; let i=index">{{i > 0 ? ', ' : ''}}{{category}}</span>
    </div>
</div>
-->
<div class="chains-with">
    <div class="label">Chains with:</div>
    <ul>
        <li *ngFor="let chained of chainedProducts" [ngClass]="createCSSClass(chained)">{{chained.name}}
            <app-popularity-icon [popularity]="chained.popularity"></app-popularity-icon>
            <app-supply-icon [supply]="chained.supply"></app-supply-icon>
            ({{chained.getModifiedValue()}}, {{(chained.getModifiedValue()/chained.time).toFixed(2)}}/h)
        </li>
    </ul>
</div>