<div class="workshop">
  <mat-card appearance="raised">
    <mat-card-header><mat-card-title>Island Sanctuary Workshop Planner</mat-card-title></mat-card-header>
    <mat-card-content>
      <p>
        For the most part, start by copying the current (or predicted, if
        you're planning out the next season) values for popularity and supply
        into the Supply &amp; Demand tab. Once that's done, the Product Tree
        tab can be used to see a list of products and what can chain with
        them. Expanding a product shows what chains with it, and can be used
        to plan out a workshop schedule.
      </p>
      <p>
        Note that the supply changes between cycles (real-world days) - the
        "demand shift" combines with the products built to determine the new
        supply with the next cycle.
      </p>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="raised">
    <mat-card-header><mat-card-title>Settings</mat-card-title></mat-card-header>
    <mat-card-content>
      <p>
        These are used by the optimizer to produce a production schedule based on your current island.
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Island Rank</mat-label>
          <mat-select [formControl]="islandRank">
            <mat-option *ngFor="let rank of islandRanks" [value]="rank">Rank {{rank}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Workshop 1 Tier</mat-label>
          <mat-select [formControl]="workshop1Tier">
            <mat-option *ngFor="let tier of workshopTiers" [value]="tier.id">{{tier.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Workshop 2 Tier</mat-label>
          <mat-select [formControl]="workshop2Tier">
            <mat-option value="none">Unbuilt</mat-option>
            <mat-option *ngFor="let tier of workshopTiers" [value]="tier.id">{{tier.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Workshop 3 Tier</mat-label>
          <mat-select [formControl]="workshop3Tier">
            <mat-option value="none">Unbuilt</mat-option>
            <mat-option *ngFor="let tier of workshopTiers" [value]="tier.id">{{tier.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Workshop 4 Tier</mat-label>
          <mat-select [formControl]="workshop4Tier">
            <mat-option value="none">Unbuilt</mat-option>
            <mat-option *ngFor="let tier of workshopTiers" [value]="tier.id">{{tier.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Landmarks Built</mat-label>
          <input matInput type="number" min="0" [max]="maxLandmarks" [formControl]="landmarks">
        </mat-form-field> / {{maxLandmarks}}
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Groove</mat-label>
          <input matInput type="number" min="0" [max]="maxGroove" [formControl]="groove">
        </mat-form-field> / {{maxGroove}}
      </p>
      <p>
        <button
          mat-raised-button
          matTooltip="Resetting for the next Season resets Groove to 0, all Supply to Sufficient, and all Demand Shift to None"
          (click)="resetForNextSeason()"
          color="primary">Reset for Next Season</button>
      </p>
      <p>

      </p>
    </mat-card-content>
  </mat-card>
</div>
