<p *ngIf="!results">Calculating...</p>
<!-- TODO: Make this a "real" Material table (would allow sorting/pagination/other fun things) -->
<table *ngIf="results" class="full-width-table" matSort aria-label="Elements">
  <thead>
    <tr><th>Products</th><th>Cowries</th><th>Time</th><th>Groove</th></tr>
  </thead>
  <tr class="result" *ngFor="let result of results">
    <td>
      <ul class="product-list">
        <li *ngFor="let product of result.products; let i = index"><app-product [product]="product" [showIcons]="true"></app-product></li>
      </ul>
    </td>
    <td>{{result.value}} cowries</td>
    <td>{{result.time}} hours</td>
    <td>{{result.groove}}</td>
  </tr>
</table>
