.popularity-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  &.popularity-veryHigh {
    background-image: url(/assets/popularity-very-high.svg);
  }
  &.popularity-high {
    background-image: url(/assets/popularity-high.svg);
  }
  &.popularity-average {
    background-image: url(/assets/popularity-average.svg);
  }
  &.popularity-low {
    background-image: url(/assets/popularity-low.svg);
  }
}