@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$island-sanctuary-planner-blue-palette: (
  50: #e8eafb,
  100: #c5cbf5,
  200: #9daaee,
  300: #7388e8,
  400: #506ce3,
  500: #2351dc,
  600: #1d49d1,
  700: #093ec4,
  800: #0033b9,
  900: #001ea7,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: black,
    700: black,
    800: black,
    900: black,
  )
);
$island-sanctuary-planner-yellow-palette: (
  50: #fdfbe4,
  100: #fbf5be,
  200: #f7ed92,
  300: #f4e766,
  400: #f2e243,
  500: #efdd14,
  600: #efcb0f,
  700: #eeb302,
  800: #ed9b00,
  900: #ea7000,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: black,
    900: black,
  )
);

$island-sanctuary-planner-primary: mat.define-palette($island-sanctuary-planner-blue-palette, 600);
// The default blue is too hard to see in some places
$island-sanctuary-planner-primary-lighter: mat.define-palette($island-sanctuary-planner-blue-palette, 300);
$island-sanctuary-planner-accent: mat.define-palette($island-sanctuary-planner-yellow-palette, 700, 100, 900);
$island-sanctuary-planner-typography: mat.define-typography-config();

// The warn palette is optional (defaults to red).
$island-sanctuary-planner-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$island-sanctuary-planner-theme: mat.define-dark-theme((
  color: (
    primary: $island-sanctuary-planner-primary,
    accent: $island-sanctuary-planner-accent,
    warn: $island-sanctuary-planner-warn,
  ),
  typography: $island-sanctuary-planner-typography
));
$island-sanctuary-planner-theme-darklight: mat.define-dark-theme((
  color: (
    primary: $island-sanctuary-planner-primary-lighter,
    accent: $island-sanctuary-planner-accent,
    warn: $island-sanctuary-planner-warn,
  ),
  typography: $island-sanctuary-planner-typography
));
$island-sanctuary-planner-theme-light: mat.define-light-theme((
  color: (
    primary: mat.define-palette($island-sanctuary-planner-blue-palette, 500),
    accent: $island-sanctuary-planner-accent,
    warn: $island-sanctuary-planner-warn,
  )
));

@include mat.typography-hierarchy($island-sanctuary-planner-typography);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($island-sanctuary-planner-theme);
@include mat.button-theme($island-sanctuary-planner-theme);
@include mat.fab-theme($island-sanctuary-planner-theme);
@include mat.icon-button-theme($island-sanctuary-planner-theme);
@include mat.card-theme($island-sanctuary-planner-theme);
@include mat.table-theme($island-sanctuary-planner-theme);
@include mat.form-field-theme($island-sanctuary-planner-theme-darklight);
@include mat.icon-theme($island-sanctuary-planner-theme);
@include mat.input-theme($island-sanctuary-planner-theme);
@include mat.progress-spinner-theme($island-sanctuary-planner-theme);
@include mat.select-theme($island-sanctuary-planner-theme-darklight);
@include mat.sort-theme($island-sanctuary-planner-theme);
@include mat.tabs-theme($island-sanctuary-planner-theme);
@include mat.tooltip-theme($island-sanctuary-planner-theme);
@include mat.snack-bar-theme($island-sanctuary-planner-theme);

// You can add global styles to this file, and also import other style files
:root {
  $config: mat.get-color-config($island-sanctuary-planner-theme);
  $background: map.get(map.get($config, 'background'), 'unselected-chip');
  --unselected-chip-background: #{$background};
  --select-arrow: #{map.get(map.get($config, 'foreground'), 'secondary-text')};
}

html, body { height: 100%; }
body { margin: 0; }

.product-popup-backdrop { pointer-events: none; }

// Global icon sizes
mat-icon[data-mat-icon-name^=popularity-], mat-icon[data-mat-icon-name^=demandShift-] {
  width: 24px; height: 24px;
}
mat-icon[data-mat-icon-name^=supply-] {
  width: 37px; height: 24px;
}

// The primary color is too hard to read on the dark theme when used in mat-select, so pick a lighter blue for it
$light-blue: mat.get-color-from-palette($island-sanctuary-planner-blue-palette, 300);
app-product-table-select {
  $special-theme: mat.define-dark-theme((
    color: (
      primary: mat.define-palette($island-sanctuary-planner-blue-palette, 300),
      accent: $island-sanctuary-planner-accent,
      warn: $island-sanctuary-planner-warn,
    ),
    density: -3
  ));
  @include mat.form-field-theme($special-theme);
  .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color: $light-blue;
  }
}
div.app-product-table-select {
  --mdc-theme-primary: #{$light-blue};
  // Checkbox doesn't use the variable for some reason
  &.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
    color: $light-blue;
  }
}

// Use light theme if the user wishes
@media (prefers-color-scheme: light) {
  // Blue color for selects (need to undo dark theme overrides for the light theme)
  $blue: mat.get-color-from-palette($island-sanctuary-planner-blue-palette, 500);
  @include mat.core-color($island-sanctuary-planner-theme-light);
  @include mat.button-color($island-sanctuary-planner-theme-light);
  @include mat.fab-color($island-sanctuary-planner-theme-light);
  @include mat.icon-button-color($island-sanctuary-planner-theme-light);
  @include mat.card-color($island-sanctuary-planner-theme-light);
  @include mat.table-color($island-sanctuary-planner-theme-light);
  @include mat.form-field-color($island-sanctuary-planner-theme-light);
  @include mat.icon-color($island-sanctuary-planner-theme-light);
  @include mat.input-color($island-sanctuary-planner-theme-light);
  @include mat.progress-spinner-color($island-sanctuary-planner-theme);
  @include mat.select-color($island-sanctuary-planner-theme-light);
  @include mat.sort-color($island-sanctuary-planner-theme-light);
  @include mat.tabs-color($island-sanctuary-planner-theme-light);
  @include mat.tooltip-color($island-sanctuary-planner-theme-light);
  @include mat.snack-bar-color($island-sanctuary-planner-theme-light);
  // Undo color change on light
  app-product-table-select .mat-mdc-form-field.mat-focused.mat-primary .mat-mdc-select-arrow {
    color: $blue;
  }
  div.app-product-table-select {
    --mdc-theme-primary: #{$blue};
    &.mat-primary .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
      color: $blue;
    }
  }
}
