@use 'sass:map';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$island-sanctuary-planner-primary: mat.define-palette(mat.$indigo-palette);
$island-sanctuary-planner-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$island-sanctuary-planner-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$island-sanctuary-planner-theme: mat.define-light-theme((
  color: (
    primary: $island-sanctuary-planner-primary,
    accent: $island-sanctuary-planner-accent,
    warn: $island-sanctuary-planner-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($island-sanctuary-planner-theme);
@include mat.button-theme($island-sanctuary-planner-theme);
@include mat.card-theme($island-sanctuary-planner-theme);
@include mat.table-theme($island-sanctuary-planner-theme);
@include mat.form-field-theme($island-sanctuary-planner-theme);
@include mat.icon-theme($island-sanctuary-planner-theme);
@include mat.input-theme($island-sanctuary-planner-theme);
@include mat.select-theme($island-sanctuary-planner-theme);
@include mat.sort-theme($island-sanctuary-planner-theme);
@include mat.tabs-theme($island-sanctuary-planner-theme);
@include mat.tooltip-theme($island-sanctuary-planner-theme);
@include mat.snack-bar-theme($island-sanctuary-planner-theme);

/* You can add global styles to this file, and also import other style files */
:root {
  $config: mat.get-color-config($island-sanctuary-planner-theme);
  $background: map.get(map.get($config, 'background'), 'unselected-chip');
  --unselected-chip-background: #{$background};
  --select-arrow: #{map.get(map.get($config, 'foreground'), 'secondary-text')};
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Global icon sizes
mat-icon[data-mat-icon-name^=popularity-], mat-icon[data-mat-icon-name^=demandShift-] {
  width: 24px; height: 24px;
}
mat-icon[data-mat-icon-name^=supply-] {
  width: 37px; height: 24px;
}

.product-table-select-menu {
  .mat-menu-content {
    // Remove padding from the menu
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    width: 200px;
  }
}

.product-select-backdrop {
  background: transparent;
}

.product-select-panel {
  // use existing panel styles
  @extend .mat-select-panel;
  border-radius: 4px;
  .product-select-panel-wrap {
    width: 100%;
  }
  .product-option {
    @extend .mat-option;
    font-size: 14px;
    line-height: 36px;
    height: 36px;
    padding: 0 16px;
    mat-icon {
      vertical-align: middle;
    }
  }
}
